<div class="section section-dark text-center">
  <div class="container">
    <h2 class="title">Personnages principaux</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card card-profile card-plain">
          <div class="card-avatar">
            <a href="#avatar"><img src="./assets/image/pnj/Kentor_sarne.png" alt="Kentor Sarne"></a>
          </div>
          <div class="card-block">
            <a href="#paper-kit">
              <div class="author">
                <h4 class="card-title">Kentor Sarne</h4>
                <h6 class="card-category">Moff Imperial</h6>
              </div>
            </a>
            <p class="card-description text-center">
              Capitaine remarqué dans l'Imperial Survey Corps, branche d'exploration de la marine impériale, Sarne est retourné dans le secteur de Kathol lors de la disloquation de l'empire.</p>
            <p class="card-description text-center">

            </p>
          </div>
          <div class="card-footer text-center">
            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-profile card-plain">
          <div class="card-avatar">
            <a href="#avatar"><img src="./assets/image/pnj/Keleman_Ciro.jpg" alt="Kelerman Ciro"></a>
          </div>
          <div class="card-block">
            <a href="#paper-kit">
              <div class="author">
                <h4 class="card-title">Kelerman Ciro</h4>
                <h6 class="card-category">Capitaine</h6>
              </div>
            </a>
            <p class="card-description text-center">
              Après avoir participé à la libération de sa planète natale, Dolomar, Kelerman a rejoint le commando d'élite Page il y a deux ans. Le lieutenant Judder Page va le charger de commander la mission pour chasser et neutraliser le Moff Sarne.
            </p>
          </div>
          <div class="card-footer text-center">
            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-profile card-plain">
          <div class="card-avatar">
            <a href="#avatar"><img src="./assets/image/pnj/command_adrimetrum.jpg" alt="Kaiya Adrimetrum"></a>
          </div>
          <div class="card-block">
            <a href="#paper-kit">
              <div class="author">
                <h4 class="card-title">Kaiya Adrimetrum</h4>
                <h6 class="card-category">Premier Officier</h6>
              </div>
            </a>
            <p class="card-description text-center">
              Ayant appris il y a peu que son ami le wookiee Lofryyhn a été vendu au Moff Kentor Sarne comme esclave, Kaiya s'est portée volontaire pour pour faire partie de la force d'infiltration sur Kal'Shebbol.
            </p>
          </div>
          <div class="card-footer text-center">
            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-outline-neutral btn-round" type="button">Liste des personnages</button>
  </div>
</div>
