<div class="section">
  <div class="container">
    <div class="tim-title">
      <h3>La Campagne du DarkStryder : </h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-10">
      <div class="body_welcome">
        <section class="star-wars">
          <div class="crawl">
            <div class="title">
              <h1 class="intro">Acte I : Chapitre 1</h1>
              <p> </p>
              <h2 class="intro">Assaut sur Khatol</h2>
              <p> </p>
            </div>
            <div class="text-body">
              <h3 class="intro">Quatre années après la bataille d'Endor, la lutte continue contre ce qu'il reste de l'Empire.</h3>
              <p> </p>
              <h3 class="intro">Devant une Nouvelle République qui libère les mondes autrefois dominés par les forces impériales, les derniers représentants de cette époque révolue n'ont d'autre choix que d'utiliser des méthodes encore plus désespérées pour conserver ce qui leur reste de pouvoir.</h3>
              <p> </p>
              <h3 class="intro">Dans le lointain secteur de Khatol, une flotte de la Nouvelle République tente de vaincre le Moff impérial Sarne.</h3>
              <p> </p>
              <h3 class="intro">Pendant que les navires des deux factions s'affrontent en orbite, un petit groupe d'infiltration de la Nouvelle République, le Commando Page, mène l'assaut contre la forterresse de Sarne...</h3>
              <p> </p>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="col">
      <p><strong>Période : </strong></p>
      <p>Guerre Civile Galactique</p>
      <p><strong>Date : </strong></p>
      <p>8 ap BY</p>
      <p><strong>Lieu : </strong>
      <p>Secteur de Kathol</p>
      <p><strong>Combattants :</strong></p>
      <p>Nouvelle République</p>
      <p>Vestiges de l'Empire Galactique</p>
      <p> </p>
      <h1> </h1>
      <p> </p>
      <btn class="btn-secondary btn-simple">Relancer ici</btn>
    </div>
  </div>
</div>
